/* create the grid container that will allow us to position our elements */
#container {
    margin-top: 0px;
    display: grid;
}


/* remove the border around the elements */
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
	
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#sidebar {
    height: 100%;
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
	background-color: rgb(193, 178, 151);
    color: black;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 120px;
  }

  #maincontent {
    position: absolute;
    left: 320px;
    top: 170px;
	font-weight: bold;
  }
  #copyButton {
  }
/* center the label in its column and make it stand out */


#banner {
    z-index: 1;
    text-align: center;
    background-color: transparent;
    color: black;
	font-weight: bold;
}
